<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>ConstrucER</title>
    <link rel="icon" type="image/png" href="img/favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Noticia+Text|Oswald" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-70364405-13', 'auto');
      ga('send', 'pageview');

    </script>
</head>

<body  ng-app="contactApp">
    <div class="header">
        <img src="img/header.jpg" class="">
        <div class="headerrrss">
            <a href="https://www.facebook.com/blca26052016" target="_blank" class="black-text hoverable hidexs"><i class="fa fa-facebook rrssfa fa-3x" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/blinlara/" target="_blank" class="black-text hoverable hidexs"><i class="fa fa-instagram rrssfa fa-3x" aria-hidden="true"></i></a>
        </div>
    </div>
    <nav>
        <div class="nav-wrapper grey darken-4">
            <div class="container">
                <a href="index.html" class="brand-logo"><img src="img/ConstrucER.jpg" class="responsive-img"></a>
                <a href="#" data-activates="mobile-demo" class="button-collapse waves-effect waves-yellow"><i class="fa fa-bars" aria-hidden="true"></i></a>
                <ul class="hide-on-med-and-down">
                    <li><a href="index.html">INICIO</a></li>
                    <li><a href="nosotros.html">NOSOTROS</a></li>
                    <li><a href="servicios.html">SERVICIOS</a></li>
                    <li><a href="obras.html">OBRAS</a></li>
                    <li><a href="venta.html">VENTA</a></li>
                    <li class="active"><a href="contacto.html">CONTACTO</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li>
                        <h2 class="center-align white-text">CONSTRUC<span class="letraamarilla">ER</span></h2></li>
                    <li><a href="index.html">INICIO</a></li>
                    <li><a href="nosotros.html">NOSOTROS</a></li>
                    <li><a href="servicios.html">SERVICIOS</a></li>
                    <li><a href="obras.html">OBRAS</a></li>
                    <li><a href="venta.html">VENTA</a></li>
                    <li class="active"><a href="contacto.html">CONTACTO</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container margintop25">
        <div class="row">
            <div class="mapa">
                <iframe src="https://www.google.com/maps/d/embed?mid=1IXiAEv5rPtcf3_1q8d2etfxqP7I" width="100%" height="380"></iframe>
            </div>
        </div>

        <div class="row margintop25">
            <div class="col-sm-6">
                <img src="img/formulario.jpg" class="img-responsive">
            </div>
            <div class="col-sm-6">

                    <div ng-controller="ContactController">
                        <form ng-submit="submit(contactform)" name="contactform" method="post" role="form">
                            <span class="input-field col-xs-12 margintop50" ng-class="{ 'has-error': contactform.nombre.$invalid && submitted }">
                                <i class="fa fa-user prefix" aria-hidden="true"></i>
                                <input id="nombre" type="text" class="validate" ng-model="formData.nombre" >
                                <label for="nombre">Nombre</label>
                            </span>
                            <span class="input-field col-xs-12" ng-class="{ 'has-error': contactform.email.$invalid && submitted }">
                                <i class="fa fa-phone prefix" aria-hidden="true"></i>
                                <input id="email" type="text" class="validate" ng-model="formData.email">
                                <label for="email">Email</label>
                            </span>
                            <span class="input-field col-xs-12" ng-class="{ 'has-error': contactform.telefono.$invalid && submitted }">
                                <i class="fa fa-envelope-o prefix" aria-hidden="true"></i>
                                <input id="telefono" type="text" class="validate" ng-model="formData.telefono">
                                <label for="telefono">Teléfono</label>
                            </span>
                            <div class="input-field col-xs-12" ng-class="{ 'has-error': contactform.message.$invalid && submitted }">
                                <i class="fa fa-pencil prefix" aria-hidden="true"></i>
                                <textarea id="message" class="materialize-textarea" ng-model="formData.message"></textarea>
                                <label for="message">Mensaje</label>
                            </div>
                            <div class="center-align margintop25 marginbot10">
                                <button class="waves-effect waves-light btn yellow black-text"  type="submit" ng-disabled="submitButtonDisabled">ENVIAR</button>
                            </div>
                        </form>
                        <p ng-class="result" style="padding: 15px; margin: 0;">{{ resultMessage }}</p>
                    </div>

            </div>
        </div>

        <div class="margintop50">
            <hr class="hramarillo" />
        </div>

        <div class="row margintop50">
            <div class="col-sm-6">
                <img src="img/informacion.jpg" class="img-responsive">
            </div>
            <div class="col-sm-6">
                <div class="iniciotexto1 minheight200 paddingnosotros valign-wrapper z-depth-1 hoverable">
                    <div class="marginauto">
                        <p class="center-align"><i class="fa fa-map-marker fa-3x black-text" aria-hidden="true"></i></p>
                        <p class="center-align">CC Rio Lama V Etapa. PB local L-26. Barquisimeto 3001</p>
                        <p class="center-align"><i class="fa fa-envelope fa-2x black-text" aria-hidden="true"></i></p>
                        <p class="center-align">contacto@construcer.com</p>
                        <p class="center-align"><i class="fa fa-phone fa-3x black-text" aria-hidden="true"></i></p>
                        <p class="center-align">0251 417-32-75 / 0414 350-27-57</p>
                    </div>
                </div>
            </div>
        </div>

        <h3 class="gradienteamarillo margintop50"><b>COMUNÍCATE</b> CON NOSOTROS</h3>

        <div class="row margintop50">
            <div class="col-sm-6">
                <img src="img/horario.jpg" class="img-responsive">
            </div>
            <div class="col-sm-6">
              <div class="iniciotexto1 minheight200 paddingnosotros valign-wrapper z-depth-1 hoverable">
                  <div class="marginauto">
                      <p class="center-align"><b>Lunes a Viernes</b></p>
                      <p class="center-align">de 8:00 a.m. a 12:00 p.m.</p>
                      <p class="center-align">Y de 1:00 p.m. a 5:00 p.m.</p>
                  </div>
              </div>
            </div>
        </div>
    </div>


    <!--/////////////////////////////// FOOTER //////////////////////////////////////////-->
    <footer class="fondoamarillo margintop25">
        <div class="footerdashedizq hidexs"></div>
        <div class="footerdashedder hidexs"></div>
        <div class="container white-text">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <h4 class="black-text"><span class="footertitle">SÍGUENOS</span></h4>
                    <div class="row margintop10">
                        <a href="https://www.facebook.com/blca26052016" target="_blank" class="black-text"><i class="fa fa-facebook rrssfa fa-2x fa-border" aria-hidden="true"></i></a>
                        <a href="https://www.instagram.com/blinlara/" target="_blank" class="black-text"><i class="fa fa-instagram rrssfa fa-2x fa-border" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <a href="contacto.html"><h4 class="black-text"><span class="footertitle">UBICACIÓN</span></h4></a>
                    <div class="row margintop10">
                        <div class="col-xs-1"><a href="contacto.html"><i class="fa fa-map-marker fa-3x black-text" aria-hidden="true"></i></div>
                        <div class="col-xs-10"><a href="contacto.html"><span class="black-text">CC Rio Lama V Etapa. PB local L-26. Barquisimeto 3001<span></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <a href="contacto.html"><h4 class="black-text"><span class="footertitle">CONTACTO</span></h4></a>
                    <div class="row margintop10">
                        <div class="col-xs-2"><a href="contacto.html"><i class="fa fa-phone fa-3x black-text" aria-hidden="true"></i></a></div>
                        <div class="col-xs-10"><ul class="black-text marginauto"><li>0251 770-85-47 </li><li>0414 350-27-57 </li><ul></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2"><a href="contacto.html"><i class="fa fa-envelope fa-2x black-text" aria-hidden="true"></i></a></div>
                        <div class="col-xs-10"><span class="black-text marginauto">contacto@construcer.com<span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer grey darken-4 z-depth-1">
            <div class="container">
                <div class="row marginbot0">
                    <div class="col-xs-12">
                        <p class="copyright center-align small margin5">&copy; 2016 Construcer C.A. | RIF: J-40422522-6 | Todos los Derechos Reservados | Desarrollado por
                            <a href="http://bitcodeweb.com/" target="_blank"><img src="img/logomini.png" class="responsive-img"></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="controllers.js"></script>
    <script>
        $(document).ready(function() {
            $(".button-collapse").sideNav();
            $('.parallax').parallax();
        });
    </script>
</body>

</html>
